body {
  font-family: 'Roboto', sans-serif !important;
  color: #636363;
  overflow-x: hidden;
}

.bg-red-logo {
  background-color: #f11c0d;
}

.nav-item-ml {
  margin-left: 40px;
}

.margent {
  margin-top: 150px;
}

.bg-contacto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.2)), to(rgba(33, 33, 33, 0.2))), url(../img/contactos/IMG_20210212_144823.jpg);
  background: linear-gradient(rgba(33, 33, 33, 0.2), rgba(33, 33, 33, 0.2)), url(../img/contactos/IMG_20210212_144823.jpg);
  background-size: 100%;
}

.bg-menu-internar {
  background-image: url(../img/portadas/portada-rojo.jpg);
}

.bg-menu-internab {
  background-image: url(../img/portadas/portada-azul.jpg);
  background-size: 100%;
}

.title {
  color: #024efc;
}

.subtitle {
  color: #fff;
}

.subtitlep {
  color: #f11c0d;
}

.radius {
  border-radius: 350px 150px 250px;
}

.notice {
  color: #fff;
}

.bg-contactanos {
  background-color: #03a9f469;
}

.colorbg-map {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(252, 255, 255, 0.95))), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7qWocE9vljWI_sMIqDMfWeEhfp7sgoTQJ6w&usqp=CAU);
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(252, 255, 255, 0.95)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7qWocE9vljWI_sMIqDMfWeEhfp7sgoTQJ6w&usqp=CAU);
  font-size: 30%;
}

.paragraph {
  text-align: justify !important;
}

.drop {
  display: inline-block;
  text-align: left;
  position: relative;
}

.drop figure {
  margin: 0;
  position: relative;
}

.drop figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.drop figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #2c3f52;
  color: #ed4e6e;
}

.drop figure figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.cs-style-1 figcaption h3 {
  margin-top: 70px;
}

.cs-style-1 figcaption span {
  display: block;
}

.cs-style-1 figure:hover figcaption {
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}

.cs-style-2 figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.cs-style-2 figure:hover img {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
}

.cs-style-2 figure figcaption {
  height: 90px;
  width: 100%;
  top: auto;
  bottom: 0;
}

.networks {
  position: fixed;
  z-index: 2000;
  top: 35%;
  right: 0;
  width: 50px;
  height: 50px;
}

.networks .whatsapp {
  background-color: #13b955;
  border-radius: 15px 0px 0px 15px;
  padding: 5px;
}

.networks a {
  color: #fff;
}
/*# sourceMappingURL=custom.css.map */