$colortitle: #024efc;
$colorwhite: #fff;
$colorplomo: #636363;
// $colorp: #a1152f;
// $colorborder-title-botton: #f93829;
// $colorbg-propuesta: url(/img/index/tapiz.jpg);
$colorbg-propuesta: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7qWocE9vljWI_sMIqDMfWeEhfp7sgoTQJ6w&usqp=CAU);
$colorbg-map: #4e6aaa;
$portada-roja: url(../img/portadas/portada-rojo.jpg);
$portada-azul: url(../img/portadas/portada-azul.jpg);
$portada-contacto: url(../img/contactos/IMG_20210212_1448231.jpg);
// $portada-contacto: url(../img/contactos/IMG_20210212_144823.jpg);
$color-red-logo: #f11c0d;
$color-bg-contactanos: #03a9f469;


body{
    font-family: 'Roboto', sans-serif !important;
    color: $colorplomo;
    overflow-x: hidden;
}


.bg-red-logo {
    background-color: $color-red-logo;
}

.nav-item-ml{
    margin-left: 40px;
}

.margent {
    margin-top: 150px;
}

.bg-contacto {
    // background-image: $portada-contacto;
    background: linear-gradient(rgba( 33, 33, 33, 0.2),
                rgba(33, 33, 33, 0.2)), url(../img/contactos/IMG_20210212_144823.jpg) ;
    background-size: 100%;
}

.bg-menu-internar {
    background-image: $portada-roja;
}

.bg-menu-internab {
    background-image: $portada-azul;
    background-size: 100%;
}


.title {
    color: $colortitle;
}
  
.subtitle {
    color: $colorwhite; 
}

.subtitlep {
    color: $color-red-logo;
}

.radius {
    border-radius: 350px 150px 250px;
}

.notice {
    color: $colorwhite;
}

.bg-contactanos {
    background-color: $color-bg-contactanos;
}
 
.colorbg-map {
    background: linear-gradient( rgba(255,255,255,0.90), rgba(252,255,255,0.95)), $colorbg-propuesta;
    // background-image: $colorbg-propuesta;
    font-size: 30%;
}

.paragraph {
    text-align: justify !important;
}

// efectnotice:hover .imagen {
//     width: 120%;
// }
  
// .efectnotice .imagen {
//     -webkit-transition-property: width 2s;
//     transition-property: width 2s;
// }



.networks {
    position: fixed;
    z-index: 2000;
    top: 35%;
    right: 0;
    width: 50px;
    height: 50px;
    
    .whatsapp {
        background-color: #13b955 ;
        border-radius: 15px 0px 0px 15px;
        padding: 5px;
    }

    a{
        color: $colorwhite;
    }
    
    // i{
    //     margin-left: 2px;
    //     font-size: 30px;
    // }
    

}